In [10]:
# import packages

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats 

import pandas as pd
from pandas.tools.plotting import scatter_plot
from pandas.tools.plotting import scatter_matrix

from sklearn.preprocessing import scale
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA 
from sklearn.cluster import KMeans

from pandas.tools.plotting import scatter_matrix

#We are using the gmaps library to visualize on maps the homes by grid coordinates
import gmaps
key = 'AIzaSyAlll7ubMHP6cyZgX-ZLwWyd2KFKhEu_Hg'
gmaps.configure(api_key=key)


cmap = sns.diverging_palette(220, 10, as_cmap=True) # one of the many color mappings
import datetime
import math

from sklearn.svm import SVR

#configure the r
np.random.seed(0)

%matplotlib inline

In [11]:
# read in the data

HousePrices = pd.read_csv("Data/kc_house_data.csv")

In [12]:
# clean the data (only removed one row)

HousePrices = HousePrices[HousePrices['id']!=2402100895]

HousePrices.index = range(21612)

In [13]:
# create new variables

# cleaned date
HousePrices['date_year'] = HousePrices['date'].str[:4].astype(int)
HousePrices['date_month'] = HousePrices['date'].apply(lambda x: x[4:6]).astype(int)
HousePrices['date_day'] = HousePrices['date'].apply(lambda x: x[6:8]).astype(int)
HousePrices['cleaned_date'] = pd.to_datetime(HousePrices['date_year']*10000 + 
                                             HousePrices['date_month']*100 + 
                                             HousePrices['date_day'], format = '%Y%m%d')
# days since sale
HousePrices['days_since_sale'] = pd.to_datetime(datetime.datetime.now().strftime("%Y-%m-%d")) - HousePrices['cleaned_date']

# property age
HousePrices['property_age'] = pd.to_datetime(datetime.datetime.now().strftime("%Y-%m-%d")).year - HousePrices['yr_built']

# renovated indicator
HousePrices['renovated_ind'] = np.where(HousePrices['yr_renovated'] ==0, 0,1)


# renovated past 5 years
pd.to_datetime(datetime.datetime.now().strftime("%Y-%m-%d")).year - HousePrices['yr_renovated']

HousePrices['yrs_since_reno'] = pd.to_datetime(datetime.datetime.now().strftime("%Y-%m-%d")).year - HousePrices['yr_renovated']
                                                
HousePrices['renovated_past_5_years'] = np.where(np.logical_and(HousePrices['yrs_since_reno']>0, HousePrices['yrs_since_reno']<2017),1,0)
del HousePrices['yrs_since_reno']

# qualitative size grouping
HousePrices['sqft_grouping'] = pd.cut(HousePrices.sqft_living, [0,1427,3300,5000,30000],4,
                                      labels = ['Small','medium','large','McMansion'])

# price per sqft
HousePrices['price_sqft'] = HousePrices['price']/HousePrices['sqft_living']

# large lot indicator
HousePrices['large_lot_ind'] = np.where(HousePrices['sqft_lot'] >15000, 1,0)

# bedroom/bathroom ratio
HousePrices['bed_bath_ratio'] = HousePrices['bedrooms']/HousePrices['bathrooms']

# sqft living ratio
HousePrices['sqft_living_ratio'] = HousePrices['sqft_living']/HousePrices['sqft_living15']

# property to lot ratio
HousePrices['sqft_living_lot_ratio'] = HousePrices['sqft_living']/HousePrices['sqft_lot']

# basement indicator
HousePrices['basement_ind'] = np.where(HousePrices['sqft_basement'] ==0, 0,1)

In [14]:
HousePrices.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,days_since_sale,property_age,renovated_ind,renovated_past_5_years,price_sqft,large_lot_ind,bed_bath_ratio,sqft_living_ratio,sqft_living_lot_ratio,basement_ind
count,2.161200e+04,2.161200e+04,21612.000000,21612.000000,21612.000000,2.161200e+04,21612.000000,21612.000000,21612.000000,21612.000000,...,21612,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,2.160500e+04,21612.000000,21612.000000,21612.000000
mean,4.580402e+09,5.400835e+05,3.369471,2.114774,2079.921016,1.510739e+04,1.494332,0.007542,0.234314,3.409356,...,831 days 19:13:33.548028,45.993753,0.042291,0.042291,264.150537,0.150148,inf,1.052928,0.323747,0.392652
std,2.876594e+09,3.671351e+05,0.907982,0.770177,918.456818,4.142142e+04,0.539991,0.086519,0.766334,0.650668,...,113 days 01:08:12.541795,29.373636,0.201245,0.201245,110.059737,0.357204,NaN,0.320451,0.268571,0.488387
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,...,622 days 00:00:00,2.000000,0.000000,0.000000,87.588235,0.000000,0.000000e+00,0.179012,0.000610,0.000000
25%,2.123049e+09,3.218375e+05,3.000000,1.750000,1426.500000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,...,721 days 00:00:00,20.000000,0.000000,0.000000,182.287533,0.000000,1.333333e+00,0.881119,0.156576,0.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,0.000000,3.000000,...,845 days 00:00:00,42.000000,0.000000,0.000000,244.626805,0.000000,1.600000e+00,1.000000,0.247641,0.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,0.000000,0.000000,4.000000,...,931 days 00:00:00,66.000000,0.000000,0.000000,318.321203,0.000000,2.000000e+00,1.160753,0.407563,1.000000
max,9.900000e+09,7.700000e+06,11.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,...,1012 days 00:00:00,117.000000,1.000000,1.000000,810.138889,1.000000,inf,6.000000,4.653846,1.000000

# Pre-Modeling

In [21]:
# create regression test and training sets

y = HousePrices.ix[:,2]
x = HousePrices.ix[:,3:36]

x_train, x_test, y_train, y_test = cross_validation.train_test_split(x, y, test_size=  0.2)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,...,property_age,renovated_ind,renovated_past_5_years,sqft_grouping,price_sqft,large_lot_ind,bed_bath_ratio,sqft_living_ratio,sqft_living_lot_ratio,basement_ind
6959,5,3.50,4010,8510,2.0,0,1,5,9,2850,...,46,0,0,large,347.880299,0,1.428571,1.536398,0.471210,1
18122,3,1.75,1320,10416,1.0,0,0,3,7,1320,...,21,0,0,Small,184.090909,0,1.714286,0.790419,0.126728,0
7745,4,1.00,1770,7345,1.5,0,0,3,7,1770,...,51,0,0,medium,155.367232,0,4.000000,1.120253,0.240980,0
16442,2,1.00,1570,5000,1.5,0,3,4,8,1570,...,93,0,0,medium,509.554140,0,2.000000,0.892045,0.314000,0
12618,4,2.50,2900,5760,1.0,0,0,4,8,1660,...,58,0,0,medium,172.413793,0,1.600000,1.288889,0.503472,1

# Modeling

## Simple Linear Regression (naive baseline)

## Multiple Regression

## Forward Selection

## Backward Selection

## LASSO regression

## LARS regression

## PLS regression with Principal Components

## SVR regression

### Explanation of support vectors and weights

# Forecast Accuracy comparison between models